<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconFileName</key>
		<string>SPABANK.png</string>
		<key>title</key>
		<string>我的邀请码</string>
		<key>detail</key>
		<string>111</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>20000032.png</string>
		<key>title</key>
		<string>客服热线</string>
		<key>detail</key>
		<string>4000-56-0013</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>ABC.png</string>
		<key>title</key>
		<string>帮助中心</string>
		<key>detail</key>
		<string>查看操作指南</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>BOC.png</string>
		<key>title</key>
		<string>用户协议</string>
		<key>detail</key>
		<string>查看软件用户协议</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>09999998.png</string>
		<key>title</key>
		<string>软件版本</string>
		<key>detail</key>
		<string>V1.0</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>PSBC.png</string>
		<key>title</key>
		<string>关于我们</string>
		<key>detail</key>
		<string>查看版权信息</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>20000032.png</string>
		<key>title</key>
		<string>价格表</string>
		<key>detail</key>
		<string>查看服务价格表</string>
	</dict>
	<dict>
		<key>iconFileName</key>
		<string>20000032.png</string>
		<key>title</key>
		<string>退出登录</string>
		<key>detail</key>
		<string>退出切换用户</string>
	</dict>
</array>
</plist>
